@font-face {
    font-family: monospace-typewriter;
    src: url(MonospaceTypewriter.ttf);
  }

* {
    font-family: monospace-typewriter;
    font-size: 16px;
}

body {
    background-color: #f0eef1; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 1rem 10px 1rem;
    border: 2px solid;
    box-shadow: 5px 10px #888888;
    margin-bottom: 2rem;
}

header > h1 > a, header > h1 > a:visited {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 1.5rem;
}

#add-book {
    border: 2px solid;
    box-shadow: 5px 4px #888888;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: filter 0.15s ease-in-out;
    margin-left: 18px;
}

#add-book:hover {
    filter: brightness(90%);
}

#books-grid {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-auto-rows: minmax(250px, auto);
    justify-content: center;
}

/* Book card */
.book {
    padding: 12px 12px 18px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid;
    box-shadow: 5px 10px #888888;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

.book-remove {
    align-self: flex-end;
    height: 24px;
    width: 24px;
    background-image: url("../images/close.png");
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.book-remove:hover {
    background-image: url("../images/close_hover.png");
}

.book-title {
    margin-top: 8px;
}

.book-author, .book-pages, .book-read {
    margin-block-start: 4px;
    margin-block-end: 4px;
}

.book-rating {
    padding-bottom: 16px;
    padding-top: 16px;
    font-size: 1.4rem;
}

footer {
    margin-top: auto;
    text-align: center;
}

/* Modal "Add new book" */
#modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 24px 12px;
    border: 2px solid;
    box-shadow: 5px 10px #888888;
    background-color: white;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 10%;
    width: 230px;
  }

.modal-close {
    align-self: flex-end;
    height: 24px;
    width: 24px;
    background-image: url("../images/close.png");
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.modal-close:hover {
    background-image: url("../images/close_hover.png");
}
  
.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-form > h2 {
    margin-bottom: 2px;
}
  
.modal-read {
    display: flex;
    gap: 10px;
    margin-top: 12px;
} 

.checkbox {
    width: 20px;
    height: 20px;
    accent-color: black;
}

#rating {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

#rating > p {
    margin: 0;
}

.rate {
    margin-left: 8px;
    margin-top: 0;
}

.rate:not(:checked) > input {
    display:none;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    margin-top: 0px;
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #000;
}

#submit, #confirm-yes, #confirm-no {
    border: 2px solid;
    box-shadow: 5px 4px #888888;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: filter 0.15s ease-in-out;
    margin: 6px;
}

#submit:hover, #confirm-yes:hover, #confirm-no {
    filter: brightness(90%);
}

/* Modal "Confirm removing book" */
#confirm-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 12px 12px 24px 12px;
    border: 2px solid;
    box-shadow: 5px 10px #888888;
    background-color: white;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    margin: 10%;
    width: 220px;
  }

#confirm > p {
text-align: center;
}

.visible {
    display: block;
}

.hidden {
display:none !important;
}

.validation-block {
    height: 14px;
    margin-top: 6px;
    align-self: flex-start;
    margin-left: 16px;
}

.validation-text {
    margin: 0;
    font-size: 0.8rem;
    color: red;
    display:none;
}

.validation-text.rating {
    margin-top: 4px;
}

.pink-bg {
    background-color: #FADCD2;

}